@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;900&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
height:100vh;
background:
linear-gradient(
135deg,
#0015ff,
#00107c
);
overflow:hidden;
color:white;
display:flex;
justify-content:center;
align-items:center;
}

.background-number{
position:fixed;
font-size:40rem;
font-weight:900;
opacity:.07;
left:-100px;
top:-200px;
transform:rotate(-15deg);
pointer-events:none;
}

.tracker{
width:1000px;
padding:40px;
background:rgba(0,20,120,.55);
backdrop-filter:blur(15px);
border-left:8px solid #00e1ff;
transform:skew(-4deg);
}

header{
margin-bottom:25px;
}

header h1{
font-size:4rem;
font-weight:900;
color:white;
}

header span{
font-size:1.2rem;
color:#72e6ff;
}

.habit{
display:flex;
align-items:center;
justify-content:space-between;
margin:12px 0;
padding:15px;
background:rgba(255,255,255,.08);
transition:.25s;
}

.habit:hover{
transform:translateX(12px);
background:rgba(0,255,255,.15);
}

.habit-name{
font-size:1.3rem;
font-weight:700;
}

.grid{
display:flex;
gap:5px;
}

.day{
width:18px;
height:18px;
background:#082055;
cursor:pointer;
transition:.2s;
}

.day.active{
background:#00e1ff;
box-shadow:0 0 12px #00e1ff;
}

#addHabit{
margin-top:20px;
padding:15px 20px;
background:#00d4ff;
border:none;
font-weight:900;
cursor:pointer;
}
